<section class="body-wrapper">
  <header class="sub-header">
    Admin New Change
  </header>

  <%= form_for @change, url: admins_path(@change), method: :post do |f| %>
    <%= field_set_tag do %>
      <%= f.label :created_at, 'Date' %>
      <%= f.date_select(:created_at, :order => [:month, :day, :year]) %>
    <% end %>

    <%= field_set_tag do %>
      <%= f.label :message %>
      <%= f.text_area :message, rows: 5 %>
    <% end %>

    <%= field_set_tag do %>
      <%= f.label :visible %>
      <%= f.check_box :visible %>
    <% end %>

    <%= field_set_tag do %>
      <%= f.label :change_type %>
      <%= f.select :change_type, Stenographer::Change::VALID_CHANGE_TYPES, {}, class: 'full-width' %>
    <% end %>

    <%= field_set_tag do %>
      <%= f.label :tracker_ids %>
      <%= f.text_field :tracker_ids %>
    <% end %>

    <div class="change-actions">
      <%= f.submit %>
    </div>
  <% end %>

  <div class="change-actions">
    <%= link_to('Back', admins_path) %>
  </div>
</section>