<section class="body-wrapper">
  <header class="sub-header">
    Admin Change #<%= @change.id %>
  </header>

  <div class="change-actions">
    <%= link_to 'Edit', edit_admin_path(@change.id) %>
    |
    <%= link_to 'Delete', admin_path(@change), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this Change?' } %>
  </div>

  <div class="change-item">
    <label class="change-label">Date</label>
    <div class="change-value">
      <%= @change.created_at.strftime('%m/%d/%Y') %>
    </div>
  </div>

  <div class="change-item">
    <label class="change-label">Message</label>
    <div class="change-value">
      <%= @change.message %>
    </div>
  </div>

  <div class="change-item">
    <label class="change-label">Type</label>
    <div class="change-value">
      <%= @change.change_type.titleize %>
    </div>
  </div>

  <div class="change-item">
    <label class="change-label">Environment</label>
    <div class="change-value">
      <%= @change.environment %>
    </div>
  </div>

  <div class="change-item">
    <label class="change-label">Tracker IDs</label>
    <div class="change-value">
      <%= @change.tracker_ids.present? ? @change.tracker_ids : '-' %>
    </div>
  </div>

  <div class="change-actions">
    <%= link_to('Back', admins_path) %>
  </div>
</section>
