<section class="section">
  <div class="container">
    <h1 class="title">
      Change #<%= @change.id %>
    </h1>

    <div class="field">
      <label class="label">Date</label>
      <div><%= @change.created_at.strftime('%m/%d/%Y') %></div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div><%= @change.to_markdown %></div>
    </div>

    <div class="field">
      <label class="label">Type</label>
      <div>
        <%= @change.change_type.present? ? @change.change_type.titleize : 'General' %>
      </div>
    </div>

    <div class="field">
      <label class="label">Environments</label>
      <div>
        <%= render partial: 'stenographer/shared/tags', locals: {tags: @change.environments_to_tags} %>
      </div>
    </div>

    <div class="field">
      <label class="label">Tracker IDs</label>
      <div>
        <% if @change.tracker_ids.present? %>
          <% @change.tracker_ids.split(',').each do |tracker_id| %>
            <%= tracker_id %>
          <% end %>
        <% else %>
          -
        <% end %>
      </div>
    </div>

    <div class="field">
      <%= link_to('Back', changes_path, class: 'button is-link') %>
    </div>
  </div>
</section>
